<html>
<head>
    <title>Number Guesser</title>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
        function sendNum() {
            $.ajax({
                type: "POST",
                url: "/"+$("#number").val(),
                success: function(data){
                    if(data){  
                        $('#result').text(data)
                    } else{  
                        alert('失败');
                    }                      
                }
	         });
        }
        function restart(){
            $.get('/start',function(data){
                $('#result').text(data);
            })
       }    
    </script>
</head>
<body>
    <h2>Number Guesser</h2>
    <input id="number" type="text" name="number">  <br>
    <button id="restartBtn"  type="button" onclick="restart()">restart</button>
    <button id="submitBtn"  type="button" onclick="sendNum()">submit</button>
    <h3 id='result'></h3>
</body>
</html>