<html>
<body>
<form action="http://127.0.0.1:8081/result" method="GET">
    <h2>Number Guesser</h2>
    <input type="text" name="number">  <br>
    <button type="reset" value="Reset">Reset</button>
    <!-- <input type="submit" value="Submit"> -->
    <button type="submit" value="Submit">Submit</button>
</form>
<h3>bigger/smaller/equel</h3>
</body>
</html>